name = "ProlateSpheroidal"
uuid = "bc375c4d-1d06-41b0-a1fb-6f2d8a7a2632"
authors = ["Xuanzhao Gao <xgao@flatironinstitute.org> and contributors"]
version = "1.0.0-DEV"

[deps]
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
